# SCRAPING API Key (for BWS, ScraperAPI, etc.)
SCRAPINGBEE_API_KEY=your_scrapingbee_api_key_here

# IP Info Token
IPINFO_TOKEN=ipinfo_token_here

# Bright Data Scraping Browser
BRIGHTDATA_CUSTOMER_ID=your_customer_id
BRIGHTDATA_ZONE=your_zone
BRIGHTDATA_PASSWORD=your_password
