body {
  background-color: #1a1a1a;
}

.resultCard {
  background-color: #4a4a4a;
}

.resultCard .name {
  color: #ffdc52;
}

.resultCard .details {
  color: #ccc;
}

.resultCard .brand {
  color: #cda20b;
}

.light {
  color: #ccc;
}

#searchDrink {
  color: #fff;
}

.buttonSort {
  background-color: #4a4a4a;
  color: #cda20b;
}

.buttonSortActive {
  background-color: #722f37;
  color: #cda20b;
}

#priceRange {
  color: #ccc;
}

#retailerFilter {
  color: #ccc;
  margin-left: 20px;
}

#options {
  color: #ccc;
}

/* #menu {
  background-color: #353535;
}
#menu a {
  color: #fff;
}
#menu .navButton {
  background-color: #4a4a4a;
  color: #fff;
} */