<div id="footer">
    <div id="footerLeft">
        <b>©CompareTheBrew.com.au, 2019.</b>
    </div>
    <div id="footerRight">
        <form id="donate"
              action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations"/>
            <input type="hidden" name="business" value="LTES4FLSL72YL"/>
            <input type="hidden" name="currency_code" value="AUD"/>
            <input type="image" style="max-height: 100%" src="/static/images/donate.png" border="0" name="submit"
                   title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
            <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="0" height="0"/>
        </form>

        <b>Drink responsibly.</b>
    </div>
</div>