<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Compare The Brew</title>
    <meta name="description" content="Compare The Brew" />
    <meta name="author" content="The Boys" />
    <!-- Favicon -->
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍺</text></svg>"
    />

    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/dark.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="http://latex.codecogs.com/latexit.js"
    ></script>



    <script
      data-ad-client="ca-pub-2690757346374030"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-155323852-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-155323852-1");
    </script>
  </head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- TODO: POINT THIS SCRIPTS SRC TO THE PROPER LOCATION -->
    <script src="/static/js/top50.js"></script>

    {% include 'snippets/navbar.html' %}

    <div id="content">
      <div id="main" class="mainResults">
        <div>
          <form id="query" method="POST">
            <i
              id="searchButton"
              class="material-icons"
              style="
                padding: 1%;
                font-size: 80px;
                color: #cda20b;
                right: 0;
                position: absolute;
                margin-right: -1%;
                margin-top: 1%;
                cursor: pointer;
              "
              >search</i
            >
            <input
              name="searchTerms"
              id="searchDrink"
              type="text"
              class="smallSearch"
              placeholder="Search..."
            />
            <span class="underline smallLine"></span>
          </form>
        </div>
        <div>
          <h1 id="BigHeader">Top 50 :</h1>
        </div>
        <div class="areaContainer">
          <div id="resultsArea">
            {% if results|length == 0 %}
            <h2>Sorry, we didn't find any results matching your search.</h2>
            {% else %}
            <div id="cardsArea">
              {% for result in results[:50] %}
              <!-- If this item is a google ad item -->
              {% if result|length == 1 %}
              <div class="item">
                <a
                  class="resultCard ad"
                  href="https://youtube.com"
                  style="/*width: 300px; */ height: 200px"
                >
                </a>
              </div>
              <!-- If this item is a normal drink item -->
              {% else %}
              <!-- Testing phase, don't need to load every result atm. Just taking the first 8 -->
              <!-- Develop so only loads more when scrolls down -->
              <div class="item">
                <a class="resultCard" href="{{ result[6] }}">
                  {% if result[1] %}
                  <div class="retailer-badge">{{ result[1] }}</div>
                  {% endif %}
                  <div class="cardImage">
                    {% if result[11] %}
                    <img
                      src="{{ result[11] }}"
                      onerror="
                        this.onerror = null;
                        this.src = '/static/images/wine-glass-placeholder.png';
                      "
                      alt="{{ result[2] }} {{ result[3] }}"
                      style="width: 72px; height: 96px; object-fit: contain"
                    />
                    {% else %}
                    <img
                      src="/static/images/drinkimages/{{ result[-1] }}.png"
                      onerror="
                        this.onerror = null;
                        this.src = '/static/images/wine-glass-placeholder.png';
                      "
                      style="width: 72px; height: 96px; object-fit: contain"
                    />
                    {% endif %}
                  </div>
                  <div class="cardContent">
                    {% set brand_name = result[2] %} {% set full_name =
                    result[3] %} {% if brand_name and brand_name in full_name %}
                    <div class="brand">{{ brand_name }}</div>
                    <div class="name">
                      {{ full_name.replace(brand_name, '').strip() }}
                    </div>
                    {% else %}
                    <div class="brand">{{ brand_name }}</div>
                    <div class="name">{{ full_name }}</div>
                    {% endif %}
                    <div class="cardDetails">
                      <span class="searchLine"></span>
                      <div
                        class="details"
                        style="white-space: nowrap; display: inline-block"
                      >
                        {{ (result[7] / 1000) | round(2) }}L - {{ '%0.1f'|
                        format(result[9]) }} std. - {{ result[8] }}%
                      </div>
                      <div class="scorePriceContainer">
                        <div class="score responsive_head">
                          <div class="sideways">
                            <img src="/static/images/score.svg" alt="Score" />
                          </div>
                          {{ '%0.0f'| format(result[10] * 100) }}
                        </div>
                        <div class="price">
                          ${{ '%0.2f'| format(result[5]) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %} {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>

        <div
          class="pagination"
          style="
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 20px 0;
            font-size: 24px;
          "
        >
          <span style="color: #722f37; font-weight: bold; margin: 0 15px"
            >Page 1 of 1</span
          >
        </div>
      </div>
    </div>

    {% include 'snippets/footer.html' %}

    <script src="/static/js/fitty.min.js"></script>
    <script>
      fitty(".responsive_head", {
        maxSize: 100,
      });
      // fitty('.scorePriceContainer');
      fitty(".details", {
        minSize: 12,
      });
      fitty(".name", {
        minSize: 26,
        multiLine: true,
      });

      // window.onresize = function onresize() {
      // 	fitty.fitAll();
      // }
    </script>
  </body>
</html>
